<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="ion-padding">
    <p> Network Status: {{status | json}} </p>
  </div>
  <ion-button color="secondary" (click)="gopromise()">Secondary</ion-button>
  <ion-button color="secondary" (click)="gofunc()">Secondary</ion-button>
  <ion-button color="secondary" (click)="openBrowser()">URL</ion-button>
  <ion-button color="secondary" (click)="openKeyboard()">Keyboard--open</ion-button>
  <ion-button color="secondary" (click)="openModalAlert()">Modals--Alert</ion-button>
  <ion-button color="secondary" (click)="showConfirm()">Modals--showConfirm</ion-button>
  <ion-button color="secondary" (click)="showPrompt()">Modals--showPrompt</ion-button>
  <ion-button color="secondary" (click)="showActions()">Modals--showActions</ion-button>

</ion-content>
